body{
    margin: 20px;
}
#nameDiv{
    margin-top: 50px;
}

#form-group{
    width: 20%;
    float: left;
}

input{
    width: 90%;
    height: 20px;
}

#entry{
    width: 150px;
    height: 40px;
    margin-top: 10px;;
}

table, th, td{
    border: 2px solid black;
    padding: 5px;   
}

th, td {
    font-size: 20px;
}

td {
    font-size: 25px;
    font-weight: 400
}